data
**/__pycache__
*.log
logs
tensorboard
results
*.mp4
*.yuv
*.png
*.y4m
*.wav
result_bwe_data
containers.zip

zte_eval*/
result*/
eval_result*/
diagrams
dataset
csv
result_bwe_data
bwe_model
webrtc_bin/*
docker_mnt/traffic_shell/trace_data*/

*.csv
*.zip

/*.py